# Production
# VITE_CLIENT_PROD = http://13.229.55.229
# VITE_TMS_PROD = http://13.229.55.229/api

# Local Development
VITE_CLIENT_PROD = https://localhost:5173
VITE_TMS_PROD = https://localhost:7167/api

# Amazon S3 URL
# VITE_TMS_S3_URL = http://13.229.55.229/api


